@using Movies.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
  ViewData["Title"] = "Chat";
}
<div class="container">
  <div class="row">
      <div class="col">
	  <form>
      <h2>Send a Message</h2>
      <div class="mb-3">
	      <input type="text" class="form-control" id="from" value="@User.Identity?.Name" hidden/>
      </div>
      <div class="d-flex gap-2">
      <input type="text" class="form-control" id="message" maxlength="400"/>
      <input class="btn-primary" type="submit" class="form-control" id="sendButton" value="Send" style="min-width:5rem" />
      </div>
	  </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
         <ul id="messages"></ul>
    </div>
  </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<style>
 body{
     background-image: url('../../assets/View-of-the-Roman-Forum.jpg') !important;
     background-size: cover;
     background-position: center center;
     background-attachment: fixed;
     height: 100vh;
     margin: 0;
	      }
 h2{
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	      }
 #messages{
     color: black;
     font-size: 1.5rem;
	      }
</style>
