@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeMovieViewModel
@{
    ViewData["Title"] = "Add movie";
}
<div class="row">
    <h2>Enter a movie</h2>
    <form method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="add-input"><input asp-for="Movie.Title" placeholder="Movie title">
        <span asp-validation-for="Movie.Title" class="text-danger"></span>
        </div>
        <div><input asp-for="Movie.Director" placeholder="Movie director"></div>
        <div><input asp-for="Movie.ReleaseDate" placeholder="Movie release date" type="date" min="1888-01-01" value="@DateTime.Now.ToString("yyyy-MM-dd")"></div>
        <div><textarea asp-for="Movie.Description" placeholder="Movie description" rows="7" style="resize: both; min-width: 500px;"></textarea></div>
        <div><input type="checkbox" class="checkbox" value="true" asp-for="Movie.Seen" checked/> Mark as seen</div>
        <div><input type="file" class="form-control" accept="image/*" name="ImageFile" style="max-width: 500px;" /></div>
        <input type="submit" value="Insert" class="btn btn-primary">
        <div><a href="/Home/Movies" class="btn btn-danger">Cancel</a></div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
    <style>
     body{
	 background-image: url('../../assets/Ruins-of-the-Parthenon.jpg') !important;
	 background-size: cover;
	 background-position: center center;
	 background-attachment: fixed;
	 height: 100vh;
	 margin: 0;
     }
     h2{
	 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     }
     .checkbox{
	 accent-color: #dbb721;
     }
    </style>
