@* @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeMovieViewModel
<div class="row">
    <p>Are you sure you want to delete this movie?</p>
    <form method="post">
        @Html.AntiForgeryToken()
        <div><input asp-for="Movie.MovieId" hidden /></div>
        <div><input asp-for="Movie.Title" readonly/></div>
        <div><input asp-for="Movie.Director" readonly/></div>
        <div><input asp-for="Movie.ReleaseDate" readonly/></div>
        <div><input asp-for="Movie.Description" readonly/></div>
        <input type="submit" value="Delete" />
        <a href="/">Cancel</a>
    </form>
</div> *@

