@model Movies.EntityModels.Movie;
@{
    ViewData["Title"] = $"Movie Detail - {@Model.Title}";
}
<h2>Movie Detail</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Movie Id</dt>
        <dd>@Model.MovieId</dd>
        <dt>Movie Title</dt>
        <dd>@Model.Title</dd>
        <dt>Movie Director</dt>
        <dd>@Model.Director</dd>
        <dt>Movie Description</dt>
        <dd>@Model.Description</dd>
    </dl>
</div>