@page "/vote-movie"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@inject MoviesDataContext db

@attribute [Authorize]

	   <h1> MOVIES </h1>

	   @if (Movies is not null)
	   {
		@foreach (var m in Movies)
		{
			<MovieBlock UnseenMovie="@m" />
		}
	   }
	   else
	   {
		<div>No unseen movies.</div>
	   }


@code {
      private List<Movie> Movies = new();

      protected override async Task OnInitializedAsync()
      {
          Movies = await db.Movies.Where(m => !m.Seen)
	  	 .OrderBy(m => m.Title).ToListAsync();
      }
     

}